USE [master]
GO
/****** Object:  Database [BS12]    Script Date: 17/03/2016 9:58:29 ******/
CREATE DATABASE [BS12]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BS12', FILENAME = N'C:\Users\11400919\BS12.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BS12_log', FILENAME = N'C:\Users\11400919\BS12_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BS12].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BS12]
GO
/****** Object:  Table [dbo].[Gebruiker]    Script Date: 17/03/2016 9:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gebruiker](
	[Id] [int] NOT NULL,
	[Gebruikersnaam] [varchar](20) NOT NULL,
	[Paswoord] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Gebruiker] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
